[Desktop Entry]
Encoding=UTF-8
Name=Komodo Edit 8
GenericName=Editor
Comment=Free multi-platform editor that makes it easy to write quality code.
Exec=/home/mininet/Komodo-Edit-8/lib/mozilla/komodo %F
Icon=/home/mininet/Komodo-Edit-8/share/icons/komodo48.png
Terminal=false
Type=Application
MimeType=text/plain;
Categories=ActiveState;Application;Development;Editor;Utility;TextEditor;
